.projects-intro .primary-button{
    background-color: blue;
    color: white !important;
    font-weight: bold;
}
.projects-btn a{
    color: white !important;;
}
.projects-list{
    overflow:hidden;
}
.project{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius:10px;
    margin-top: 50px;
    animation: project-animation 10s linear infinite;
}
.project img{
    height: 220px;
    width:100%;
}

.project:hover > .project-content{
    opacity: 1;
    transform:scale(1.05);
    cursor:pointer;
}
.project:hover{
    animation-play-state: paused;
}

.project-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}


.achievements-intro{
    height: 100vh;
    background-size: cover;
    background-position: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.achievements-intro-content{
    width: 50%;
    color: white;
    border-left: 5px solid cyan;
    padding-left: 30px;
    animation: achievements-intro-animation 10s linear infinite;
}
.achievements-intro-content h1{
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: cyan;
    border-bottom: 2px solid white;
}

.achievements-intro-content p{
   
    border-right: 2px solid white;
}
.why-jd-parent{
    top : 0px;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.why-jd{
    height: 300px;
    width: 300px;
    background-color: #001220;
    border-radius: 50px;
    transition: all 0.5s;
}

.why-jd:hover{
    transform:scale(1.5);
    background-color:#EBECF0 !important;
    background: #EBECF0  !important;
    box-shadow: 5px 5px 0px #cacbce, -5px -5px 0px #ffffff !important;
    color: black;
    font-weight: bold !important;
}

@media(max-width:750px){
    .why-jd:hover{
        transform:scale(1.2);
        background-color:#EBECF0 !important;
        background: #EBECF0  !important;
        box-shadow: 5px 5px 0px #cacbce, -5px -5px 0px #ffffff !important;
        color: black;
        font-weight: bold !important;
    }
}

.why-jd:hover > h1{
    display: none;
}

.why-jd:hover > .why-jd-content{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why-jd h1{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.why-jd-content{
    display: none;
}



.achievements-list{
    overflow:hidden;
}
.achievement{
    
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius:10px;
    margin-top: 50px;
    animation: project-animation 10s linear infinite;
}
.achievement img{
    height: 220px;
    width:100%;
    border-radius: 10px;
}

.achievement:hover > .achievement-content{
    opacity: 1;
    transform:scale(1.05);
    cursor:pointer;
}
.achievement:hover{
    animation-play-state: paused;
}

.achievement-content{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.5s;
}



@media(max-width:750px){

    .achievements-intro-content{
        width: 100%;
        color: white;
        border-left: 5px solid cyan;
        padding: 20px;
        margin: 20px;
        border-left: 2px solid white;
       
    }
    .achievements-intro-content h1{
        font-size: 35px;
        -webkit-text-stroke-width: 1px;
        
    }

    .achievements-intro-content p{
        padding: 10px;
        
    }

    
}

@keyframes project-animation {

    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
    
    
}

@keyframes achievements-intro-animation {

    0%{
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-5deg);
    }
    
    
}